@model Bloghost.ViewModels.UserModel
@{
    ViewData["Title"] = "Edit";
}

<div class="m-4">

    <div class="col-4 float-left pr-3">
        <img src="@Url.Content(Model.Photo)" width="302" height="302" class="avatar bs-tooltip-bottom" />
        <form asp-action="ChangePhoto" asp-controller="User" method="post" enctype="multipart/form-data">
            <div class="mb-3 mt-3" style="width: 19rem;">
                <input type="file" class="custom-file-input" accept="image/jpeg,image/png" name="uploadedFile" />
            </div>
            <button type="submit" class="btn btn-secondary">Load</button>
        </form>
    </div>

    <form class="p-2" asp-controller="User" asp-action="Edit">
        <div class="form-group row">
            <label class="col-3 col-form-label">Your Name</label>
            <div class="col-9">
                <input asp-for="Name" type="text" class="form-control" placeholder="Name" value="@Model.Name">
                <span asp-validation-for="Name" style="color:red;" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-3 col-form-label">Your Email</label>
            <div class="col-9">
                <input asp-for="Email" class="form-control" readonly placeholder="Email" value="@Model.Email">
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-3 col-form-label">Your Password</label>
            <div class="col-9">
                <input asp-for="Password" class="form-control" placeholder="Password">
                <span asp-validation-for="Password" style="color:red;" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-3 col-form-label">Confirm password</label>
            <div class="col-9">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password">
                <span asp-validation-for="ConfirmPassword" style="color:red;" />
            </div>
        </div>
        <div class="form-group row text-right">
            <div class="col-12">
                <button type="submit" class="btn btn-secondary">Edit</button>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <environment names="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
}