@model IEnumerable<Bloghost.ViewModels.BlogModel>
@{
    ViewData["Title"] = "Blogs";
}

<div class="form-inline m-4">
    @foreach (var blog in Model)
    {
        <div class="card mr-2 mb-1" style="width: 18.4rem;">
            <div class="card-body">
                <h5 class="card-title">@blog.Blog.NameBlog</h5>
                <h6 class="card-subtitle mb-2 text-muted">@blog.User.Name</h6>
                <p class="card-text">@blog.Blog.DescriptionBlog</p>
            </div>
            <div class="card-footer">
                <h6 class="text-right" style="color: midnightblue">@blog.Blog.CreationDateBlog</h6>
            </div>
        </div>
    }
</div>

