<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/open-iconic-master/font/css/open-iconic-bootstrap.css" />
        <link href="~/open-iconic-master/font/css/open-iconic.css" rel="stylesheet" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: midnightblue">
        <a asp-action="Index" asp-controller="Home" class="a logo font-weight-bold">p</a>
        <div class="collapse navbar-collapse">
            <form class="input-group col-4 mx-4" asp-controller="Article" asp-action="Search">
                <input class="form-control" placeholder="Search" name="tag">
                <div class="input-group-append">
                    <button class="btn btn-outline-info" type="submit">
                        <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
                    </button>
                </div>
            </form>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="btn-group">
                <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" 
                        aria-haspopup="true" aria-expanded="false">
                    <span class="oi oi-person"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" asp-action="Profile" asp-controller="User">Signed in as <strong>@User.Identity.Name</strong></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-action="Profile" asp-controller="User">Your profile</a>
                    <a class="dropdown-item" asp-action="Profile" asp-controller="User">Your blogs</a>
                    @if (User.IsInRole("admin"))
                    {
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">All users</a>
                    }
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-action="Logout" asp-controller="Account" style="color:black">Logout</a>
                </div>
            </div>
        }
        else
        {
            <a asp-action="Login" asp-controller="Account" class="btn btn-secondary" style="color:midnightblue">Login</a>
            <a asp-controller="Account" asp-action="Register" class="btn btn-primary mx-2">Sign in</a>
        }
    </nav>

    <!--меню-->

    <div>
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>